body {
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
    color: #ea7d0f ;
    font-family: 'Poppins', sans-serif;
}

.noi {
    text-align: center;
    padding: 6px;
}

img {
    padding: 0%;
    margin: 0%;
    border-spacing: 0px;
}
main{height: 100%;}
table {
    margin-top: 10%;
    margin-left: 30%;
    background-color: #2b2e38;
}

td {
    padding-left: 4%;
}

.oas {
    margin-bottom: 5px;
}

#g {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0%;
}

td {
    padding-top: 10px;
}

input[type="radio"] {
    display: none;
}

.btn-outline-dark {
    margin: 0 1px;
}

#nombrenc {
    margin-top: 5px;
}

#nombreng {
    margin-top: 5px;
}
#nombre{width: 50%;}
label{font-weight: bold;}
.btn-group > .btn{background-color:#9b4320}
.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {background-color:#ea7d0f; color: wheat;}
.btn-group >.btn:hover{background-color:#ea7d0f; color: wheat;}