<!doctype html>
<html lang="en">

<head>
  <title>Agregar parque</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/general.css">
  <link rel="stylesheet" href="./css/update.css">
  <link rel="shortcut icon" href="tree.png" type="image/x-icon">
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
  <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script defer src="./js/agregar.js"></script>
  <script defer src="./js/general.js"></script>

</head>

<body>
  <header></header>
  <main>
    <div id="app">
      <table width=" 40%">
        <td><label for="nombre">Nombre</label> <br>
          <input type="text" name="nombre" id="nombre" v-model="nombre">
          <div style="padding-top: 10px;"><label for="visitantes">Número de visitas </label> <br>
            <input type="number" name="visitantes" id="visitantes" v-model="visitantes">
          </div>
          <div style="font-weight: bold;">Zona</div>
          <div class="oas">
            <div v-for="g in zonas" class="btn-group">
              <input class="btn-check" v-model.number="zona" :value="g.id" type="radio" :id="'btnradiog'+g.id" @click="eli= g.id">
              <label class="btn btn-outline-dark " :for="'btnradiog'+g.id"> {{g.nombreg}}</label>
            </div>
          </div>
          <label class="btn btn-outline-primary" @dblclick="esconderg = false" @click="esconderg = true">Añadir otro zona</label>
          &nbsp;<button type="button" class="btn btn-danger" @click="eliminarg(eli)">Eliminar zona</button>
          <div v-show="esconderg" bv><input type="text" name="nombreng" id="nombreng" v-model="nombreg">
            <button type="button" class="btn btn-success btn-sm" @click="grabarg() , esconderg=false, nombreg= null">Guardar</button>
          </div>
          <br>
          <label for="imagen">Imagen</label> <br>
          <input type="text" name="imagen" id="imagen" v-model="imagen">
          <div id="g"><img width="200" :src="imagen" alt=""></div>
          <div id="g"><button type="button" class="btn btn-success" @click="grabar()">Grabar</button>
          </div>
        </td>
      </table>
    </div>
  </main>
  <footer></footer>

</body>

</html>